@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Cabin', sans-serif;
  background: linear-gradient(rgba(255, 255, 255, 0.92), rgba(255, 255, 255, 0.92)), url(../img/churu_salmon.jpg);
  background-size: 480px;
  font-size: 1.6rem;
}


/* HEADER */

header {
  border-bottom: 0.104vw solid rgb(181, 181, 181);
  padding: 0;
}

h1 {
  color: red;
  margin-bottom: 0;
  text-align: center;
  font-size: 5rem;
  font-style: italic;
}

.navbar {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 0;
}

.header__links {
  display: flex;
  align-items: center;
  padding: 0;
}

.icono_persona {
  width: 12px;
}

.micuenta_li {
  margin-left: 0.417vw;
}

.micuenta_a {
  width: 100px;
}

.icono_carrito {
  width: 25px;
  margin-right: 0.781vw;
}

.icono_wsp {
  width: 20px;
}

.header__img {
  height: 100px;
}

a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}


/* MAIN */

main {
  text-align: center;
  padding-left: 2.6vw;
  padding-right: 2.6vw;
}

.w-100 {
  width: unset !important;
}

.d-block {
  display: unset !important;
  max-height: 550px;
  max-width: 550px;
}

h2 {
  font-size: 2.4rem;
}

p {
  font-size: 1.6rem;
}

.h2__p {
  color: red;
}

.gridPadre {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.56vw;
  row-gap: 2.14vh;
}

.item1,
.item2,
.item3,
.item4 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(254, 248, 246);
  border: 1px solid rgb(152, 152, 152);
  border-radius: 20px;
}

div.item1 p,
div.item2 p,
div.item3 p,
div.item4 p {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.gridPadre2 {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 1.56vw;
  row-gap: 2.14vh;
  height: 60px;
  width: 1fr;
}

div.gridPadre2 div p {
  margin-bottom: 5px;
}

div.gridPadre2 div h3 {
  margin: 0;
}

.gridPadre3 {
  display: grid;
  gap: 20px;
  grid-template-rows: repeat(4, auto);
}

.gridPadre3_btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2/3;
}

.gridPadre3_btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 3/4;
}

.buscar_btn--modify {
  align-self: center;
  justify-self: center;
  width: 10%;
  min-width: 160px;
  border-radius: 10px;
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  box-shadow: 2px 2px 5px #000;
}

.buscar_btn--modify:hover {
  cursor: pointer;
}

.buscar_btn--modify:active {
  background-color: #22afde;
  color: black
}

.section__banner {
  margin: 50px 0 25px 0;
}

.contenedor__banner {
  display: grid;
  grid-template-rows: repeat (2, auto);
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url(../img/banner_productos.png);
  background-size: cover;
}

.contenedor__banner--h2 {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: 4rem;
  -webkit-text-stroke: 1.5px black;
}

.contenedor__banner--a {
  width: 50%;
  align-self: center;
  justify-self: center;
  background-color: #008CBA;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  box-shadow: 2px 2px 5px #000;
}

.contenedor__banner--a:hover {
  cursor: pointer;
}

.contenedor__banner--a:active {
  background-color: #22afde;
  color: black
}

.centro-de-ayuda1,
.centro-de-ayuda2,
.centro-de-ayuda3,
.centro-de-ayuda4 {

  align-self: center;
  justify-self: center;
  max-width: 120px;
}

.gridPadre4 {
  display: grid;
  grid-template-rows: repeat(8, auto);
  grid-template-columns: repeat(1, auto);

}

.gridPadre4__cda {
  display: inherit;
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}

.contenedor__parrafos {
  display: grid;
  grid-template-columns: repeat(4, 1fr)
}

.contenedor__btn {
  align-self: center;
  justify-self: center;
  width: 10%;
  min-width: 160px;
  border-radius: 10px;
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  box-shadow: 2px 2px 5px #000;
}

.contenedor__btn:hover {
  cursor: pointer;
}

.contenedor__btn:active {
  background-color: #22afde;
  color: black
}


/* FOOTER */

footer {
  border-top: 2px solid rgb(181, 181, 181);
}

.footer__titulo1,
.footer__titulo2,
.footer__titulo3,
.footer__titulo4 {
  font-size: 1.8rem;
  text-decoration: underline;
}

.footer__listas {
  padding: 0;
  list-style-type: none;
}

ul.footer__listas li {
  margin-bottom: 10px;
}

.footer__a--modify {
  font-size: 1.6rem;
}

.footer__btn {
  align-self: center;
  justify-self: center;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  box-shadow: 2px 2px 5px #000;
}

.footer__btn:hover {
  cursor: pointer;
}

.footer__btn:active {
  background-color: #22afde;
  color: black
}

.copyright {
  font-size: 1.4rem;
  text-align: right;
  border-top: 2px solid rgb(181, 181, 181);
}


/* Blog */

.textos--modify {
  padding-top: 30px;
  text-align: center;
  min-width: 600px;
}

.main__h2 {
  margin: 30px auto;
  font-size: 5rem;
  color: red;
  font-style: italic;
}

.main__section {
  display: grid;
  padding: 50px 50px 0 50px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 50px;

}

section.main__section div {
  align-self: center;
  justify-self: center;
}

.main__blog-p {
  text-align: left;
}

.main__foto {
  width: 35vw;
  border-radius: 20px;
}


/* Sobre nosotros */

.textos__sobre-nosotros {
  text-align: center;
  min-width: 600px;
}

.contenedor__sobre-nosotros {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: 0;
  margin: 50px auto;
  border-radius: 20px;
  height: 400px;
  align-items: center;
  justify-content: center;
  background-image: url(../img/empresa-de-noche.jpg);
  background-size: cover;
  background-position: center -300px;
}

.sobre-nosotros__p1 {
  color: white;
  font-size: 6rem;
  grid-row: 1/2;
  margin-bottom: 0;
  padding-top: 50px;
}

.sobre-nosotros__p2 {
  color: white;
  font-size: 6rem;
  grid-row: 2/3;
  margin-top: 0;
  padding-bottom: 50px;
}

.sobre-nosotros__grid {
  display: grid;
  margin: 50px auto;
  padding: 50px;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  align-items: center;
  justify-items: center;
}

.sobre-nosotros__texto {
  text-align: left;
}

/* Contacto */

.contacto__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
}

.contaco__form {
  border: 2px solid #000;
  border-color: rgb(199, 199, 199);
  border-radius: 20px;
  width: 60vw;
  max-width: 700px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

.contacto__fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}

.contacto__fieldset:last-of-type {
  border-bottom: none;
}

.contacto__label {
  display: block;
  margin: 0.5rem 0;

}

.contacto__input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 95%;
  min-height: 2em;
  text-align: center;
  border-radius: 6px;
}

.contacto__input,
textarea {
  background-color: #f0f0f0;
  border: 1px solid #0a0a23;
  color: #000;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

.contacto__input[type="submit"] {
  margin-left: 20px;
  width: 50%;
  border-radius: 10px;
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  box-shadow: 2px 2px 5px #000;
}

.contacto__input[type="submit"]:hover {
  cursor: pointer;
}

.contacto__input[type="submit"]:active {
  background-color: #22afde;
  color: black
}

.contacto__input[type="file"] {
  padding: 1px 2px;
}

.contacto__correo__grid {
  display: grid;
  margin: auto 10px;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.form__terms-a {
  text-transform: lowercase;
}

.contacto__grid--modify {
  align-self: center;
  justify-self: center;
}


/* Carrito */

.textos__carrito {
  margin-top: 75px;
  margin-bottom: 75px;
  padding: 0px 100px 0px;
  text-align: center;
  min-width: 600px;
}

.carrito__h2 {
  margin: 50px auto;
  font-size: 5rem;
  color: red;
  font-style: italic;
}

.carrito__contenedor {
  display: grid;
  margin: 20px;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 2px solid rgb(181, 181, 181);
}

.carrito__p1 {
  grid-column: 2/3;
  text-align: center;
}

.carrito__p2 {
  grid-column: 6/7;
}

.carrito__p1--modify {
  grid-column: 2/3;
  justify-self: center;
  max-width: 80px;
}

.carrito__p2--modify {
  text-align: left;
}

.carrito__input {
  justify-self: center;
  width: 50%;
  grid-column: 6/7;
  text-align: center;
}

.carrito__total {
  grid-column: 7/8;
}

.carrito__contenedor--modify {
  display: grid;
  margin: 20px;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  row-gap: 10px;
  padding-bottom: 10vh;
  border-bottom: 2px solid rgb(181, 181, 181);

}

.carrito__p {
  grid-column: 4/6;
  justify-self: right;
}

.carrito__btn {
  margin-left: 20px;
  width: 80%;
  border-radius: 10px;
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  box-shadow: 2px 2px 5px #000;
  grid-column: 6/8;
  justify-self: right;
}

.carrito__btn:hover {
  cursor: pointer;
}

.carrito__btn:active {
  background-color: #22afde;
  color: black
}


/* DISEÑO RESPONSIVE */

/* Version celular */

@media (min-width:320px) and (max-width:767px) {

  /* HEADER */

  header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }

  h1 {
    grid-column: 1/5;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
  }

  .navbar {
    grid-column: 1/3;
  }

  .header__links {
    grid-column: 3/5;
    align-self: center;
    justify-self: center;
    width: 100%;
    justify-content: space-evenly;
  }

  .header__links--ul {
    display: none;
  }

  .micuenta_a {
    display: none;
  }

  /* MAIN */

  /* Main inicio */

  .w-100 {
    width: 100% !important;
  }

  .d-block {
    display: unset !important;
    max-height: 550px;
    max-width: 550px;
  }

  .gridPadre {
    display: grid;
    margin: 0 auto;
    align-items: center;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 1.56vw;
    row-gap: 2.14vh;
  }

  .item1,
  .item2 {
    display: flex;
    justify-self: center;
    height: 250px;
    width: 100%;
    max-width: 425px;
  }

  .item3 {
    display: none;
  }

  .item4 {
    display: none;
  }

  .gridPadre2 {
    display: none;
  }

  .gridPadre__gatos {
    grid-column: 1/4;
  }

  .gridPadre__perros {
    grid-column: 1/4;
    margin-top: 20px;
  }

  .gridPadre3_btn1 {
    grid-column: 1/4;
    grid-row: 2/3;
  }

  .gridPadre3_btn2 {
    grid-column: 1/4;
    grid-row: 4/5;
  }

  .centro-de-ayuda1,
  .centro-de-ayuda2,
  .centro-de-ayuda3,
  .centro-de-ayuda4 {
    align-self: center;
    justify-self: center;
  }

  .contenedor__btn {
    margin: 0;
  }


  /* Main blog */

  .main__section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 25px;
    padding: 25px 0 0;
  }

  .main__section__div1 {
    grid-column: 1/3;
  }

  .main__section__div2 {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .main__section__div3 {
    grid-column: 1/3;
    grid-row: 4/5;
  }

  .main__section__div4 {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .main__section__div5 {
    grid-column: 1/3;
  }

  .main__section__div6 {
    grid-column: 1/3;
  }

  .main__foto {
    min-width: 500px;
  }

  /* Main sobre nosotros */

  .contenedor__sobre-nosotros {
    background-size: auto;
    margin: 0;
  }

  .sobre-nosotros__grid {
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
  }


  /* FOOTER */

  .footer__contenedor {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    padding: 0;
  }

  .footer__listas {
    display: none;
  }

  .footer__titulo1,
  .footer__titulo2,
  .footer__titulo3,
  .footer__titulo4 {
    font-size: 1.2rem;
    margin: 0;
  }

  .copyright {
    font-size: 1rem
  }
}

@media (min-width:500px) and (max-width:767px) {

  .d-block {
    display: unset !important;
    max-height: 550px;
    max-width: 550px;
  }

  .gridPadre4 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, auto);
  }

  .mascota-jugando1,
  .mascota-jugando2 {
    max-width: 400px;
  }

  .contenedor__btn {
    margin: 0;
  }

  .gridPadre4__cda {
    display: inherit;
    grid-template-rows: repeat(2, auto);
  }

  .footer__titulo1,
  .footer__titulo2,
  .footer__titulo3,
  .footer__titulo4 {
    font-size: 1.6rem;
  }

  .copyright {
    font-size: 1.4rem;
  }

}

/* Version tablet */

@media (min-width:768px) and (max-width:1199px) {

  /* HEADER */

  header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
  }

  h1 {
    grid-column: 3/5;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
  }

  .navbar {
    grid-column: 1/5;
  }

  .header__links {
    grid-column: 5/7;
    align-self: center;
    justify-self: center;
    width: 100%;
    justify-content: space-evenly;
  }

  .header__links--ul {
    display: none;
  }

  .micuenta_a {
    display: none;
  }


  /* MAIN */

  .w-100 {
    width: 100% !important;
  }

  .d-block {
    display: unset !important;
    max-height: 550px;
    max-width: 550px;
  }

  .gridPadre {
    display: grid;
    margin: 0 auto;
    align-items: center;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, auto);
    column-gap: 1.56vw;
    row-gap: 2.14vh;
  }

  .item3 {
    display: contents;
  }

  .item4 {
    display: contents;
  }

  .item1,
  .item2,
  .item3,
  .item4 {
    display: flex;
    justify-self: center;
    height: 250px;
    width: 100%;
    max-width: 425px;
  }

  .gridPadre2 {
    display: none;
  }

  .gridPadre__gatos {
    grid-column: 1/4;
  }

  .gridPadre__perros {
    grid-column: 1/4;
    margin-top: 20px;
  }

  .gridPadre3_btn1 {
    grid-column: 1/4;
    grid-row: 2/3;
  }

  .gridPadre3_btn2 {
    grid-column: 1/4;
    grid-row: 4/5;
  }

  .mascota-jugando1,
  .mascota-jugando2 {
    max-width: 400px;
  }

  .gridPadre4 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, auto);
  }

  .centro-de-ayuda1,
  .centro-de-ayuda2,
  .centro-de-ayuda3,
  .centro-de-ayuda4 {
    align-self: center;
    justify-self: center;
  }

  .contenedor__btn {
    margin: 0;
  }

  /* Main blog */

  .main__section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 25px;
    padding: 25px 0 0;
  }

  .main__section__div1 {
    grid-column: 1/3;
  }

  .main__section__div2 {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .main__section__div3 {
    grid-column: 1/3;
    grid-row: 4/5;
  }

  .main__section__div4 {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .main__section__div5 {
    grid-column: 1/3;
  }

  .main__section__div6 {
    grid-column: 1/3;
  }

  .main__foto {
    min-width: 500px;
  }


  /* FOOTER */

  .footer__contenedor {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    padding: 0;
  }

  .footer__listas {
    display: none;
  }

  .footer__titulo1,
  .footer__titulo2,
  .footer__titulo3,
  .footer__titulo4 {
    margin: 0;
  }

  .copyright {
    font-size: 1rem
  }
}

@media (min-width:1200px) {

  /* HEADER */
  header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
  }

  h1 {
    grid-column: 3/5;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
  }

  .navbar {
    grid-column: 1/5;
  }

  .header__links {
    grid-column: 5/7;
    align-self: center;
    justify-self: center;
    width: 100%;
    justify-content: space-evenly;
  }

  .header__links--ul {
    display: contents;
    list-style-type: none;
  }

  .micuenta_a {
    display: contents;
    
  }

  /* MAIN */

  .item1,
  .item2,
  .item3,
  .item4 {
    height: 250px;
  }

  .gridPadre3 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
  }

  .gridPadre__perros {
    margin: 0;
  }

  .mascota-jugando1,
  .mascota-jugando2 {
    max-width: 400px;
    height: 300px;
  }

  .gridPadre3_btn1 {
    grid-column: 1/2;
  }
  
  .gridPadre3_btn2 {
    grid-column: 2/3;
  }

  .gridPadre4 {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
  }

  .contenedor__imagenes {
    
  }

  /* FOOTER */

  .footer__contenedor {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    padding: 0;
  }

  .footer__listas {
    display: none;
  }

  .footer__titulo1,
  .footer__titulo2,
  .footer__titulo3,
  .footer__titulo4 {
    margin: 0;
  }

  .footer__listas {
    display: contents;
  }

}